<div class="row heading-row">
  <center><h1>Please SignUp</h1><hr style="width:30%;"> </center>
</div>
<div class="left-side">
  <!--Half of the page -->
</div>
  <%=link_to "I am doctor", {:controller => "doctor_sessions", :action => "new"},:class => "heading-row"%>
  <%=link_to "I am Patient", {:controller => "patient_sessions", :action => "new"}, :class => "heading-row" %>
