<br/><br/><br/><br/><br/>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%=@forum.title%>
    </div>
    <div class="col-md-4">
      <%=@forum.body%>
    </div>

    </div>
    <div class="comments-clearfix">
      <%= render @forum.comments%>
    </div>

    <div class="comments-clearfix">
      <%= render "comments/form"%>
    </div>
</div>
