<br/><br/><br/><br/><br/>
<%= render 'layouts/patbar'%>

<div class="profile-section-inner">
      <div class="col-md-8 col-md-push-3">
          <h3 class="inner-tittle"></h3>
          <div class="main-grid3">
            <div class="p-20">
                <div class="about-info-p">
                    <div class="Disc-question"><%=@forum.body + "?"%></div>
            </div>
            <%= render @forum.comments%>
            <%= render "comments/form"%>

        </div>
            </div>

</div>
