<div class="container">
<div class="row cover-row">
  <div class="col-md-2 userpic">
    <img class="img-responsive patient-img" src="assets/images/mypic.jpg">
  </div>
  <br/><br/><br/><br/><br/><br/><br/>
  <div class="col-md-3 user-blocks">
    <div class="Number">
        24
    </div>
      <div class="user-headings">
        Appointments
      </div>
  </div>
  <div class="col-md-3 user-blocks">
    <div class="Number">
      9
    </div>

    <div class="user-headings">
      Starred
    </div>

  </div>
  <div class="col-md-3 user-blocks">
    <div class="Number">
      5
    </div>

    <div class="user-headings">
      Reviews
    </div>

  </div>
  </div>
</div>
  <br/><br/><br/>
<!--FIX THIS SHIT-->
<div class="container">
              <div class="row">
                <div class="col-md-2 menu">
                  <div class="menu-item">
                    <a class="item">Reviews</a>
                  </div>
                  <div class="row">
                    <div class="menu-item">

                      <a class="item">Appointments</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="menu-item">
                      <a class="item">Starred Doc</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="menu-item">
                      <a class="item">Logout</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-10">
                  <center>
                    <div class="row heading-row1">Appointments</div><hr style="width:30%">
                  </center>
                  <% patid = current_user %>
                  <%=patid%>
                  <div class="row professional-row">
                    <% @doctor.appointments.each do |c| %>
                    <div class="row"><div class="col-md-4" id="pro-label">Appointment Date</div><div class="col-md-8 pro-info"><%=c.appdate%></div></div>

                    <div class="row"><div class="col-md-4" id="pro-label">Appointment Time:</div><div class="col-md-8 pro-info"><%=c.apptime%></div></div>
                    <hr style="width:100%">
                    <%end%>
                   </div>
                </div>
              </div>
            </div>
