<div class="footer">
			 <div class="container">				 	
				 <div class="col-md-3 ftr_navi ftr">
					 <h3>NAVIGATION</h3>
					 <ul>
						 <li><%= link_to "Services", static_pages_Services_path, :style => "color:#848484;" %></li>
                        <li><%=link_to "Sign In", static_pages_SignIn_path, :style => "color:#848484;" %></li>
					 </ul>
				 </div>
				 <div class="col-md-3 ftr_navi ftr">
					 <h3>Cities</h3>
					 <ul>
						 <li><a href="#">Lahore</a></li>
						 <li><a href="#">Multan</a></li>
						 <li><a href="#">Islamabad</a></li>						
						 <li><a href="#">Karachi</a></li>
						 
					 </ul>
				 </div>
				 <div class="col-md-3 get_in_touch ftr">
					  <h3>GET IN TOUCH</h3>
					  <p>LUMS DHA CANTT LAHORE,</p>
					  <p>OPPOSITE U BLOCK PHASE 5</p>
					  <p>+92 346 5678 456</p>
					  <a href="mailto:mail@mlampah.com">www.heydoc.pk</a>
				 </div>
				 <div class="col-md-3 ftr-logo">
					 <a href="index.html"><%=image_tag("logo.png", :style => "width:150px; height:90px;padding-left:2em;padding-top:-5px;")%></a>
					 <p>Design by <a href="http://w3layouts.com/">Team HeyDoc</a></p>
				 </div>
				<div class="clearfix"></div>
			 </div>
		  </div>